body {
    font-family: 'Roboto';
    background: #151515;
}

* {
    margin: 0;
    padding: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pourcentage {
    color: #999;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.text {
    position: absolute;
    left: 160px;
    color: #fdb5ca;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
}

.text-blink {
    animation: blink 7s ease-in-out .1s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.progresse-bar {
    width: 406px;
    height: 21px;
    background: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
    ;
}

.progresse {
    width: 200px;
    height: 15px;
    background: #f60d54;
    border-radius: 13px;
}